---
import '@assets/hunterstory/hunterstory.css';
import Navlink from './_navlink.astro';

interface Props {
  pageTitle: string; // Making 'title' a mandatory string prop
}

const { pageTitle } = Astro.props;

// const pages = import.meta.glob('./*.astro');

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	<body>
    <div style="display: grid; grid-template-columns: 230px 1fr; ">
        <div>
                    <li><Navlink curr={pageTitle} href="downloads.html" title="Downloads" /></li>
        </div>
        <div style="max-width: calc(100% - 20px); overflow: hidden;">
            <h1>{pageTitle}</h1>
		    <slot />
        </div>
    </div>
</body>
</html>

<style>
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
    
    th, td {
        border: 0px;
    }
</style>
