body {
font-family: Calibri, Helvetica, Arial;
}

.formula {
font-family: "Courier New", Monospace;
}

pre {
font-family: Calibri, Helvetica, Arial;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(136,136,136);
    padding: 2px;
}